@charset "UTF-8";
button {
  background-color: transparent;
  border: none;
  text-decoration: none;
  cursor: pointer;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  overflow-x: hidden;
  width: 100vw;
}
body h1 {
  font-size: 48px;
  font-weight: 700;
}
body h2 {
  font-size: 36px;
  font-weight: 700;
}
body h3 {
  font-size: 20px;
  font-weight: 700;
  padding: 10px;
}
body h4 {
  font-size: 16px;
  font-weight: 700;
  padding: 0 10px 0 10px;
}
body h5 {
  font-size: 14px;
  font-weight: 700;
}
body p {
  font-size: 12px;
  font-weight: 500;
}
body a {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

html {
  overflow-x: hidden;
}

.wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  justify-content: center;
}

.header__img-bg {
  height: 0px;
}
.header__img-bg img {
  width: 100%;
  height: 800px;
  -o-object-fit: cover;
     object-fit: cover;
}
.header__img-bg a img {
  width: 20px;
  height: 20px;
}

.hamburger {
  width: 36px;
  height: 21px;
  margin: 20px 30px 0 0;
}

.hamburger__button {
  width: 15%;
  display: flex;
  flex-direction: row-reverse;
}

.profile__social-wrapper {
  width: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.profile__social-wrapper img {
  width: 20px;
  height: 20px;
}

.profile__icon {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-direction: row-reverse;
  margin: 10px 30px 0 0;
  width: 100%;
}

.profile__title::before {
  content: url("../icons/Ellipse.png");
  width: 15px;
  height: 15px;
  margin: 10px;
}

.header__social {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  writing-mode: sideways-lr;
  min-height: 338px;
  margin-top: 225px;
  visibility: visible;
  width: 15%;
}

.profile {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: #ffa501;
  height: 800px;
  flex-direction: column;
  align-items: center;
  color: #ffffff;
  visibility: hidden;
  width: 0;
}

.aside__show {
  visibility: visible;
  width: 15%;
}

.aside__hide {
  visibility: hidden;
  width: 0;
}

.filter {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 800px;
}

.header__profession {
  max-width: 532px;
}

.header__link {
  font-size: 14px;
}

.header__link-color {
  height: 45px;
  min-width: 135px;
  max-width: 290px;
  padding: 10px 25px 10px 25px;
  margin: 0 50px 0 0;
  background-color: #ffa501;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s;
}

.header__link-transparent:hover {
  text-decoration: underline;
  text-decoration-color: #0284c7;
}

.header__name-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.header__name {
  position: relative;
}

.header__name-wrapper::before {
  content: "";
  position: absolute;
  width: 36px;
  height: 36px;
  background: #ffa501;
  border-radius: 50%;
}

.experience__subtitle {
  position: relative;
  padding-bottom: 30px;
}

.experience__subtitle::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 60px;
  height: 3px;
  background-color: #ffa501;
  transform: translateX(225%);
}

.main {
  width: 70%;
  border: 1px solid #000;
}

.experience {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.experience__title {
  position: relative;
}

.experience__title-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.experience__title-wrapper::before {
  content: "";
  position: absolute;
  width: 36px;
  height: 36px;
  background: #ffa501;
  border-radius: 50%;
}

.experience__sections {
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  justify-content: center;
}

.experience__section-item {
  position: relative;
  height: 400px;
  max-width: 425px;
  margin: 0 40px 0 40px;
}

.experience__section-item::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  border-left: 1px solid #000000;
  max-height: 343px;
}

.experience__sections .experience__section-item::after {
  content: "";
  position: absolute;
  left: -7px;
  top: 0;
  width: 15px;
  height: 15px;
  background: #ffa501;
  border-radius: 50%;
}

.experience__item {
  position: relative;
  padding: 0 0 0 20px;
}

.experience__item::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  border-top: 1px solid #000000;
  width: 42px;
}

.experience__university-icon::after {
  content: "";
  position: absolute;
  width: 36px;
  height: 36px;
  background: #ffa501;
  border-radius: 50%;
  content: url("../icons/University.png");
  left: 30px;
  top: -15px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.experience__courses-icon::after {
  content: "";
  position: absolute;
  width: 36px;
  height: 36px;
  background: #ffa501;
  border-radius: 50%;
  content: url("../icons/Courses.png");
  left: 30px;
  top: -15px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.experience__developer-icon::after {
  content: "";
  position: absolute;
  width: 36px;
  height: 36px;
  background: #ffa501;
  border-radius: 50%;
  content: url("../icons/Developer.png");
  left: 30px;
  top: -15px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.experience__designer-icon::after {
  content: "";
  position: absolute;
  width: 36px;
  height: 36px;
  background: #ffa501;
  border-radius: 50%;
  content: url("../icons/designer.png");
  left: 30px;
  top: -15px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.experience__item-position {
  padding: 0 0 0 70px;
}

.contact__container {
  display: flex;
  justify-content: center;
  min-height: 700px;
}

.contact__image {
  width: 400px;
  height: 600px;
  margin: 0 72px 72px 72px;
}

.contact__social img {
  width: 30px;
  height: 30px;
}

.contact__heading-wrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.contact__heading {
  position: relative;
}

.contact__heading-wrapper::before {
  content: "";
  position: absolute;
  width: 36px;
  height: 36px;
  background: #ffa501;
  border-radius: 50%;
}

.contact__subheading {
  margin: 0;
}

.contact__form-group {
  position: relative;
  margin: 0 25px 25px 0;
}
.contact__form-group textarea {
  height: 190px;
}

.contact__form-wrapper {
  display: flex;
}

.contact__form-input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  background: transparent;
  height: 45px;
  border: 1px solid #000000;
}

.contact__form-input:focus {
  border-color: #0284c7;
  outline: none;
}

.contact__form-label {
  position: absolute;
  top: -10px;
  left: 10px;
  background: white;
  padding: 0 5px;
  color: #6b7280;
  transition: all 0.3s;
}

.contact__form-input:not(:-moz-placeholder-shown) + .contact__form-label {
  top: -20px;
  font-size: 12px;
  color: #0284c7;
}

.contact__form-input:focus + .contact__form-label,
.contact__form-input:not(:placeholder-shown) + .contact__form-label {
  top: -20px;
  font-size: 12px;
  color: #0284c7;
}

.contact__form-submit {
  height: 45px;
  min-width: 135px;
  max-width: 290px;
  padding: 10px 25px 10px 25px;
  margin: 0 50px 0 0;
  background-color: #ffa501;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s;
}

.error {
  display: none;
  color: red;
  font-size: 12px;
}

.contact__form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 200px;
}

/* Стили для мобильных устройств */
@media (max-width: 1019px) {
  .header__social {
    display: none;
  }
  .main {
    border: 0px solid #000;
    width: 100%;
  }
  .hamburger__button {
    width: 0;
  }
  .contact__image {
    border: 0;
    display: none;
  }
  .contact {
    transform: translate(5%, 0%);
  }
  .profile.aside__show {
    position: absolute;
    width: 80%;
    left: 0;
    z-index: 1;
  }
  .experience__subtitle {
    transform: translate(25%, 0);
  }
  .experience__subtitle::after {
    transform: translate(75%, 0);
  }
  .experience__section-item::before {
    max-height: 385px;
  }
}/*# sourceMappingURL=main.css.map */